target/
!.mvn/wrapper/maven-wrapper.jar

### STS

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA

.idea
*.iws
*.iml
*.ipr

### NetBeans

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Mac

.DS_Store
*.DS_Store

### temp files

logs/
tree.txt
data/
dep.log
boot-user-service-provider/mvnw
boot-user-service-provider/mvnw.cmd
boot-user-service-provider/HELP.md
boot-user-service-provider/.mvn/wrapper/maven-wrapper.jar
boot-user-service-provider/.mvn/wrapper/maven-wrapper.properties
boot-user-service-provider/.mvn/wrapper/MavenWrapperDownloader.java
boot-order-service-consumer/.mvn/wrapper/maven-wrapper.jar
boot-order-service-consumer/.mvn/wrapper/maven-wrapper.properties
boot-order-service-consumer/.mvn/wrapper/MavenWrapperDownloader.java
boot-order-service-consumer/.gitignore
boot-order-service-consumer/mvnw
boot-order-service-consumer/mvnw.cmd
